.DS_Store
Thumbs.db

.gradle/
.kotlin/
.build/
build/
dist/
.venv/
*.spec

__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc

local.properties
*.keystore
*.jks
*.p12
*.mobileprovision
*.xcuserstate

app-windows/output/
